/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
$base-font: sans-serif;
$header-font: sans-serif;

// Font-size
$base-size: 14px;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #7337c9;
//
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #666;
// $dark-gray: #444;
// $light-gray: #888;
// $light-white: #EEE;
// $white: #FFF;
// $black: #000;
