/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

 // External libraries
 @import "bootstrap-sprockets";
 @import "bootstrap";

// Custom CSS
 @import "components/**/*";
 @import "pages/**/*";


// Helpers

.mar-1 {
  margin: 15px;
}

.mar-2 {
  margin: 30px;
}

.mar-t1 {
  margin-top: 15px;
}

.mar-t2 {
  margin-top: 30px;
}

.mar-b1 {
  margin-bottom: 15px;
}

.mar-b2{
  margin-bottom: 30px;
}

.mar-l1 {
  margin-left: 15px;
}

.mar-r1 {
  margin-right: 15px;
}

.pad-1 {
  padding: 15px;
}

.pad-2 {
  padding: 30px;
}

.pad-t1 {
  padding-top: 15px;
}

.pad-t2 {
  padding-top: 30px;
}

.pad-b1 {
  padding-bottom: 15px;
}

.pad-b2{
  padding-bottom: 30px;
}

// Text
.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.upcase {
  text-transform: uppercase;
}
